n8n/workflow/ai_agent_workflow.json
{
  "name": "AI Agent Multi-Channel Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        380
      ],
      "webhookId": "telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "={{ $json.message.text }}",
        "options": {}
      },
      "id": "edit-fields-telegram",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        380
      ]
    },
    {
      "parameters": {
        "content": "={{ $json.body.message }}",
        "options": {}
      },
      "id": "edit-fields-chat",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "When chat message received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        180
      ],
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "contains",
              "value2": "https://"
            }
          ]
        }
      },
      "id": "is-https-url",
      "name": "is https URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "content": "={{ $json.body.data }}",
        "options": {}
      },
      "id": "edit-fields-workflow",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        600
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "workflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        600
      ],
      "webhookId": "workflow-webhook"
    },
    {
      "parameters": {},
      "id": "mcp-server-trigger",
      "name": "MCP Server Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        780
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-node",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/chat",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.response }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "filter-node",
      "name": "Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        400
      ]
    },
    {
      "parameters": {},
      "id": "if-node",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        320
      ]
    },
    {
      "parameters": {
        "content": "={{ $json.response }}",
        "options": {}
      },
      "id": "edit-fields-final",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.sendMessage }}",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-operation",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1980,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "model-tool",
              "name": "model",
              "value": "gemini-1.5-flash",
              "type": "string"
            },
            {
              "id": "memory-tool",
              "name": "memory",
              "value": "simple_memory",
              "type": "string"
            },
            {
              "id": "convert-time-tool",
              "name": "convert_time",
              "value": "enabled",
              "type": "string"
            },
            {
              "id": "http-tool",
              "name": "http_request",
              "value": "enabled",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "agent-tools",
      "name": "AI Agent Tools",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        600
      ],
      "notes": "Configure AI Agent with Google Gemini Chat Model, Simple Memory, ConvertTime, and HTTP Request tools"
    },
    {
      "parameters": {
        "workflowId": "={{ 'financial-advice' }}"
      },
      "id": "financial-advice-workflow",
      "name": "financial-advice",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        460,
        800
      ],
      "notes": "Sub-workflow for financial advice"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "is https URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is https URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Server Trigger": {
      "main": [
        [
          {
            "node": "financial-advice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tools": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "financial-advice": {
      "main": [
        [
          {
            "node": "AI Agent Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ai-agent-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-ai-agent-multi-channel"
  },
  "id": "AIAgentWorkflow",
  "tags": [
    {
      "name": "AI",
      "id": "1"
    },
    {
      "name": "Telegram",
      "id": "2"
    },
    {
      "name": "Agent",
      "id": "3"
    }
  ]
}
